.no-underline {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    text-align: center;
    color: white;
    background-color: #ff1493;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    cursor: pointer;
}

.heart {
    position: fixed;
    background-color: red;
    height: 20px;
    width: 20px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 50% 62%, 18% 100%, 0% 38%);
    animation: flaot 2s ease-in-out infinite;
    rotate: 180deg;
}

@keyframes flaot {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}