.emoji {
    position: fixed;
    height: 30px;
    width: 30px;
    animation: float 2s ease-in-out infinite;

    --x: 0px;
    --y: 0px;
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
        opacity: 2;
    }

    50% {
        transform: translate(calc(var(--x) * 1.5), calc(var(--y) * 1.5));
        opacity: 1;
    }

    100% {
        transform: translate(var(--x), var(--y));
        opacity: 0;
    }
}